@font-face {
  font-family: "genshin";
  src: url(../fonts/hk4e_zh-cn.ttf);
}

#characterCard {
  position: absolute;
  top: 180px;
  left: 120px;
  width: 930px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0px bottom 0px, right 180px bottom -30px;
}

/* 角色信息栏 */
#player {
  /* background-color: #ffa07a; */
  padding: 29.25px;
}
#name {
  position: absolute;
  left: 27px;
  top: 25px;
  font-size: 25px;
}
#lv {
  position: relative;
  top: 28px;
}
#constellations {
  background-color: #ffffff00;
  height: 280px;
  width: 60%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.ConCircle {
  width: 26px;
  height: 26px;
  background-color: rgb(39, 39, 39);
  border-radius: 50%;
  margin: 10px 0; /* 控制圆圈之间的间距 */
  background-repeat: no-repeat;
  background-size: cover;
}

/* 技能栏 */
#char {
  /* background-color: #98fb98; */
  padding: 168.75px;
}
#skill {
  position: absolute;
  display: flex;
  top: 168px;
  left: 400px;
  /* background-color: #ffffff; */
  height: 280px;
  width: 60px;
  right: 0px;
  flex-direction: column;
  align-items: center;
}
.SKCircle {
  width: 44px;
  height: 44px;
  background-color: rgb(39, 39, 39);
  border-radius: 50%;
  margin: 22px 0; /* 控制圆圈之间的间距 */
  background-repeat: no-repeat;
  background-size: cover;
}
.skillWord {
  position: relative;
  left: 16px;
  top: 43px;
}

/* 武器栏 */
#weapon {
  /* background-color: #87cefa; */
  padding: 5px;
  display: flex;
  flex-direction: column;
}
#weapon-info {
  width: 209px;
  height: 110px;
}
#weapon-img {
  position: relative;
  top: 10px;
  width: 87px;
  height: 87px;
  background-repeat: no-repeat;
  background-size: cover;
}
#weapon-stats {
  position: absolute;
  width: 177px;
  height: 80px;
  top: 26px;
  left: 579px;
  padding-left: 10px;
}
#stats {
  padding-top: 10px;
  background-color: #4e414172;
  width: 233px;
  height: 310px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
#weapon-name {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#weapon-lv {
  font-size: 13px;
}
.statsDiv {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.statsNum {
  position: absolute;
  right: 234px;
}

/* 圣遗物栏 */
#artifact {
  padding: 12.5px;
  padding-top: 35px;
  padding-bottom: 10px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.artiFrame {
  background-color: #4e414172;
  width: 165px;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.artiImg {
  position: relative;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: right -10px bottom -25px;
}
.artiNum {
  position: relative;
  top: -42px;
  right: -108px;
}
.word {
  font-family: "genshin";
  color: #fff;
}
