@font-face {
  font-family: "genshin";
  src: url(../fonts/hk4e_zh-cn.ttf);
}

#characterCard {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 930px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  overflow: hidden;
  background-color: #fff;
  background-image: linear-gradient(
      to right,
      rgba(157, 157, 157, 0),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://enka.network/ui/UI_Gacha_AvatarImg_Ganyu.png"),
    url("./assets/cryo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0px bottom 0px, right 180px bottom -30px;
}

/* 角色信息栏 */
#player {
  /* background-color: #ffa07a; */
  padding: 29.25px;
}
#name {
  font-size: 25px;
}
#constellations {
  background-color: #ffffff00;
  height: 280px;
  width: 60%;
  margin-top: 73px;
  display: flex;
  flex-direction: column;
}
.ConCircle {
  width: 26px;
  height: 26px;
  background-color: rgb(39, 39, 39);
  border-radius: 50%;
  margin: 10px 0; /* 控制圆圈之间的间距 */
  background-repeat: no-repeat;
  background-size: cover;
}
#cs1 {
  background-image: url("https://enka.network/ui/UI_Talent_S_Ganyu_01.png");
}
#cs2 {
  background-image: url("https://enka.network/ui/UI_Talent_S_Ganyu_02.png");
}
#cs3 {
  background-image: url("https://enka.network/ui/UI_Talent_U_Ganyu_01.png");
}
#cs4 {
  background-image: url("https://enka.network/ui/UI_Talent_S_Ganyu_03.png");
}
#cs5 {
  background-image: url("https://enka.network/ui/UI_Talent_U_Ganyu_02.png");
}
#cs6 {
  background-image: url("https://enka.network/ui/UI_Talent_S_Ganyu_04.png");
}

/* 技能栏 */
#char {
  /* background-color: #98fb98; */
  padding: 168.75px;
}
#skill {
  position: absolute;
  display: flex;
  top: 168px;
  left: 400px;
  /* background-color: #ffffff; */
  height: 280px;
  width: 60px;
  right: 0px;
  flex-direction: column;
  align-items: center;
}
.SKCircle {
  width: 44px;
  height: 44px;
  background-color: rgb(39, 39, 39);
  border-radius: 50%;
  margin: 22px 0; /* 控制圆圈之间的间距 */
  background-repeat: no-repeat;
  background-size: cover;
}
#sk1 {
  background-image: url("https://enka.network/ui/Skill_A_02.png");
}
#sk2 {
  background-image: url("https://enka.network/ui/Skill_S_Ganyu_01.png");
}
#sk3 {
  background-image: url("https://enka.network/ui/Skill_E_Ganyu_01.png");
}
.skillWord {
  position: relative;
  left: 16px;
  top: 43px;
}

/* 武器栏 */
#weapon {
  /* background-color: #87cefa; */
  padding: 5px;
  display: flex;
  flex-direction: column;
}
#weapon-info {
  /* background-color: #ffffff; */
  width: 209px;
  height: 110px;
}
#weapon-img {
  position: relative;
  /* background-color: #ff7070; */
  width: 87px;
  height: 87px;
  top: 10px;
  left: 0px;
  background-image: url("https://enka.network/ui/UI_EquipIcon_Pole_Proto.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#weapon-stats {
  position: relative;
  /* background-color: #ff7070; */
  width: 177px;
  height: 80px;
  top: -66px;
  left: 126px;
  padding-left: 10px;
}
#stats {
  padding-top: 10px;
  background-color: #4e414172;
  width: 233px;
  height: 310px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
#weapon-name {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#weapon-lv {
  font-size: 13px;
}
.statsDiv {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.statsNum {
  position: absolute;
  right: 203px;
}

/* 圣遗物栏 */
#artifact {
  /* background-color: #ffd700; */
  padding: 12.5px;
  padding-top: 35px;
  padding-bottom: 10px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.artiFrame {
  background-color: #4e414172;
  width: 165px;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.artiImg {
  position: relative;
  width: 65px;
  height: 65px;
  /* background-color: #fff; */
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: right -10px bottom -25px;
}
#arti1 {
  background-image: url("https://enka.network/ui/UI_RelicIcon_15020_4.png");
}
#arti2 {
  background-image: url("https://enka.network/ui/UI_RelicIcon_15020_2.png");
}
#arti3 {
  background-image: url("https://enka.network/ui/UI_RelicIcon_15026_5.png");
}
#arti4 {
  background-image: url("https://enka.network/ui/UI_RelicIcon_15020_1.png");
}
#arti5 {
  background-image: url("https://enka.network/ui/UI_RelicIcon_15020_3.png");
}
.artiNum {
  position: relative;
  top: -42px;
  right: -108px;
}
.word {
  font-family: "genshin";
  color: #fff;
}
