@font-face {
  font-family: "genshin";
  src: url(../fonts/hk4e_zh-cn.ttf);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#scrollBar {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 900px;
  height: 50px;
  border-radius: 50px;
  background-color: #00000059;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 1px solid #000; */
  background-repeat: no-repeat;
  background-size: 63px;
  background-position: top -18px right -3px;
}

.circle.selected {
  border: 3px solid #6cb76c;
}

#c1 {
  margin-left: 60px;
}

#c8 {
  margin-right: 60px;
}

#characterCard {
  position: absolute;
  top: 180px;
  left: 150px;
  width: 900px;
  height: 450px;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #bcaadf;
}

.relic {
  width: 100px;
  height: 100px;
  background-color: #ffcc00;
  border-radius: 50%;
  position: relative;
}

.glow {
  box-shadow: 0 0 20px #ffcc00, 0 0 40px #ffcc00, 0 0 60px #ffcc00;
  animation: glowAnimation 2s infinite alternate;
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 20px #ffcc00, 0 0 40px #ffcc00, 0 0 60px #ffcc00;
  }
  100% {
    box-shadow: 0 0 30px #ffcc00, 0 0 50px #ffcc00, 0 0 70px #ffcc00;
  }
}
