@font-face {
  font-family: "genshin";
  src: url(../fonts/hk4e_zh-cn.ttf);
}

/* 侧边栏 */
#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px; /* 侧边栏宽度 */
  height: 100%; /* 撑满整个高度 */
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px; /* 右上角圆角 */
  border-bottom-left-radius: 10px; /* 右下角圆角 */
}

/* 侧边栏按钮 */
.circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: white; /* 文字颜色 */
  border: none;
  margin-bottom: 80px; /* 按钮之间的间距 */
}

/* 气泡 */
.tooltip {
  position: relative;
  display: none;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

/* 气泡框 */
.tooltip::before {
  content: "";
  font-family: "genshin";
  position: absolute;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #333 transparent transparent transparent;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
